# provider

region=""
project_name
redis_domain
zone
admin_peer_network_name
global_static_ip
bucket
base_image
google_project_id
machine_type
small_machine_type
credential_file
environment
state_path
shared_database_instance_name
shared_database_instance_ip
disk_image
service_account_email
slack_webhook_url
slack_channel
cable_url
redis_ip
bugsnag_key
user_microservice_api_url
user_microservice_api_token
google_storage_access_key_id
google_storage_secret_access_key
db_backup_notification_token
